@using TravelTrip.Models.Siniflar
@model List<Iletisim>
@{
    ViewBag.Title = "MesajListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>MesajListesi</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD SOYAD</th>
        <th>EMAİL</th>
        <th>KONU</th>
        <th>MESAJ</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.AdSoyad</td>
            <td>@item.Mail</td>
            <td>@item.Konu</td>
            <td>@item.Mesaj</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-default">Detaylar</a></td>
        </tr>

    }

</table>