@using TravelTrip.Models.Siniflar
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KULLANICI ADI</th>
        <th>EMAİL</th>
        <th>YORUM</th>
        <th>BLOG ID</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.KullaniciAdi</td>
            <td>@item.Maill</td>
            <td>@item.Yorum</td>
            <td>@item.BlogID</td>
            <td><a href="/Admin/YorumSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YorumGetir/@item.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-default">Detaylar</a></td>
        </tr>
    }

</table>
